@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto Mono', monospace;
}

header {
    /*largo*/
    width: 100%;
    /*ancho*/
    height: 300px;
    background-image: url('../assets/img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: -65px 60px 0px 60px;
    height: auto;
    background-color: white;
    border-radius: 15px;
}

.informacion_general {
    display: grid;
}

.foto {
    margin-top: -85px;
}

.foto img {
    width: 145px;
    height: 150px;
}

.redonda {
    border-radius: 100%;
    display: block;
    margin: auto;
}

.nombre {
    text-align: center;
}

.nombre h1 {
    color: #3d4959;
}

.nombre h4 {
    color: #434f5e;
}

.icons {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.icons .a {
    text-decoration: none;
    display: inline;
    color: black;
}

.icons i {
    margin-right: 25px;
    margin-left: 25px;
    color: #337ab7;
}

.tags {
    text-align: center;
    color: #999999;
    margin-bottom: 10px;
}

.botones {
    overflow: #337ab7;
    border: 1px solid white;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
}

.botones button {
    background-color: white;
    color: #555555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 6px;
}

.boton.active {
    background-color: #337ab7;
    color: white;
}

.contenido {
    display: none;
    margin-left: 25%;
    margin-right: 25%;
}

.contenido_botones img {
    width: 170px;
    height: 195px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.contenido_botones p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.botones i {
    font-size: 35px;
    margin-bottom: 15px;
}

.twiter i {
    font-size: 15px;
}

.contact {
    margin: auto;
}

.contact p {
    font-family: 'Roboto', sans-serif;
    color: #3d4959;
}

.information {
    margin: auto;
    text-align: center;
}