@media (max-width: 600px) {
    header {
        /*largo*/
        width: 100%;
    }
    main {
        margin: -65px 10px 0px 10px;
        height: auto;
        background-color: white;
        border-radius: 15px;
    }
    .botones button {
        font-size: 17px;
        padding: 10px 15px;
    }
    .contenido {
        display: none;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: -5%;
    }
    .contenido_botones img {
        float: none;
        display: block;
        margin: 0 25% 5% 25%;
    }
}
