@media (max-width: 600px) {
    header {
        /*largo*/
        width: 150%;
    }
    main {
        margin: -65px 10px 0px 20px;
        height: auto;
        background-color: white;
        border-radius: 15px;
    }
    .botones button {
        font-size: 15px;
        padding: 5px 10px;
    }
    .contenido {
        display: none;
        margin-left: 5%;
        margin-right: 5%;
    }
    .contenido_botones img {
        float: none;
        display: block;
        margin: auto;
    }
}